#include <zephyr/dt-bindings/display/panel.h>
#include <zephyr/dt-bindings/led/led.h>

/delete-node/ &green_led;
/delete-node/ &fxos8700;

/******************************************************************************/
/ {
    chosen {
        zephyr,flash-controller = &is25lx064;
        zephyr,flash = &is25lx064;
        zephyr,console = &lpuart12;
        zephyr,shell-uart = &lpuart12;
        zephyr,uart-mcumgr = &lpuart12;
        zephyr,sram = &sdram0;
        zephyr,display = &lcdif;
        zephyr,canbus = &flexcan1;


    };

    aliases {
        debug-uart = &lpuart12;
        led-green = &green_debug_led;
        led-red = &red_debug_led;

        drv8844 = &drv8844;
        modbus = &modbus0;
        i2c = &lpi2c2;

        button-led-driver = &lp5018;
        gpio-expander = &gpio_tca;

        power-tft-en = &display_power;
        backlight-led-en = &bkled;
        display-reset = &display_reset;
        power-5v-en = &power_5v_enable;
        nafe-pwr-en = &nafe_pwr_en;
        can1-stb = &can1_stb;
        vref-ctrl = &vref_ctrl;
        bm0-btn = &bm0_button;
        bm1-btn = &bm1_button;
        buzzer-en = &buzzer_en;
        
        board-button-0 = &board_button_0;
        board-button-1 = &board_button_1;
        board-button-2 = &board_button_2;
        board-button-3 = &board_button_3;
        board-button-4 = &board_button_4;

        usb-id-input = &usb_id_input;

        ignition-input = &ignition_input;

        digital-in-1-hi = &digital_in_1_hi;
        digital-in-1-low = &digital_in_1_low;
        digital-in-2-hi = &digital_in_2_hi;
        digital-in-2-low = &digital_in_2_low;
        digital-in-3-hi = &digital_in_3_hi;
        digital-in-3-low = &digital_in_3_low;
        digital-in-4-hi = &digital_in_4_hi;
        digital-in-4-low = &digital_in_4_low;       
        digital-in-port = &gpio13;

        canbus-nmea = &flexcan2;     
        
        /delete-property/ led0;
        /delete-property/ sw0;
        /delete-property/ magn0;
        /delete-property/ accel0;
        /delete-property/ mcuboot-button0;
        /delete-property/ sdhc0;
    };

    /delete-node/ led0;
    /delete-node/ sw0;  

    /******************************************************************************/
    /* DRV8844 */
    /******************************************************************************/
    drv8844: drv8844 {
		status = "okay";
		compatible = "ti,drv8844";   
        
		/* Two pairs of complementary PWM outputs, all set to 50 KHz */
		pwms = <&flexpwm1_pwm1 0 PWM_USEC(20) PWM_POLARITY_NORMAL>, 
		       <&flexpwm1_pwm1 1 PWM_USEC(20) PWM_POLARITY_NORMAL>, 
		       <&flexpwm1_pwm2 0 PWM_USEC(20) PWM_POLARITY_NORMAL>, 
		       <&flexpwm1_pwm2 1 PWM_USEC(20) PWM_POLARITY_NORMAL>;   

		enable-gpios = <&gpio8 21 GPIO_ACTIVE_HIGH>,    
		               <&gpio8 22 GPIO_ACTIVE_HIGH>,     
		               <&gpio8 23 GPIO_ACTIVE_HIGH>,     
		               <&gpio8 24 GPIO_ACTIVE_HIGH>;     

		reset-gpios = <&gpio8 25 GPIO_ACTIVE_LOW>;       
		fault-gpios = <&gpio8 26 GPIO_ACTIVE_HIGH>;       
        sleep-gpios = <&gpio8 27 GPIO_ACTIVE_LOW>;       
	};          

    /******************************************************************************/
    /* LEDs */
    /******************************************************************************/
    leds {
        green_debug_led: led-2 {
            gpios = <&gpio9 13 GPIO_ACTIVE_LOW>;    
            label = "Debug LED Green";
        };

        red_debug_led: led-3 {
            gpios = <&gpio10 4 GPIO_ACTIVE_LOW>;     
            label = "Debug LED Red";
        };
    };

    /******************************************************************************/
    /* GPIOs */
    /******************************************************************************/

    gpio_keys {
        display_power: display_power {
            label = "Display Power";
            gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };

        bkled: bkled {
            label = "Backlight LED";
            gpios = <&gpio4 3 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };

        display_reset: display_reset {
            label = "Display Reset";
            gpios = <&gpio10 5 GPIO_ACTIVE_LOW>;
            status = "okay";            
        };

        power_5v_enable: power_5v_enable {
            label = "5V Power Enable";
            gpios = <&gpio8 19 GPIO_ACTIVE_HIGH>;
            status = "okay";            
        };

        nafe_pwr_en: nafe_pwr_en {
            label = "NAFE Power Enable";
            gpios = <&gpio12 6 GPIO_ACTIVE_HIGH>;
            status = "okay";               
        };

        can1_stb: can1_stb {
            label = "CAN1 Transceiver STB";
            gpios = <&gpio6 7 GPIO_ACTIVE_LOW>;
            status = "okay";                 
        };

        vref_ctrl: vref_ctrl {
            label = "VREF Control";
            gpios = <&gpio12 5 GPIO_ACTIVE_HIGH>;
            status = "okay";                 
        };

        bm0_button: bm0_button {
            label = "Boot Mode 0 Button";
            gpios = <&gpio12 2 GPIO_ACTIVE_LOW>;
            status = "okay";               
        };

        bm1_button: bm1_button {
            label = "Boot Mode 1 Button";
            gpios = <&gpio12 3 GPIO_ACTIVE_LOW>;
            status = "okay";               
        };      
        
        buzzer_en: buzzer_en {
            label = "Buzzer Enable";
            gpios = <&gpio10 6 GPIO_ACTIVE_HIGH>;
            status = "okay";              
        };

        /* Button board */
        board_button_0: board_button_0 {
            label = "Button 0";
            gpios = <&gpio_tca 2 GPIO_ACTIVE_LOW>;
            status = "okay";              
        };

        board_button_1: board_button_1 {
            label = "Button 1";
            gpios = <&gpio_tca 6 GPIO_ACTIVE_LOW>;
            status = "okay";              
        };

        board_button_2: board_button_2 {
            label = "Button 2";
            gpios = <&gpio_tca 4 GPIO_ACTIVE_LOW>;
            status = "okay";              
        };

        board_button_3: board_button_3 {
            label = "Button 3";
            gpios = <&gpio_tca 5 GPIO_ACTIVE_LOW>;
            status = "okay";              
        };

        board_button_4: board_button_4 {
            label = "Button 4";
            gpios = <&gpio_tca 3 GPIO_ACTIVE_LOW>;
            status = "okay";              
        };

        /* USB ID input - connected to FUSB interrupt line */
        usb_id_input: usb_id_input {
            label = "USB ID Input";
            gpios = <&gpio3 8 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };
        
        /* Digital input pins  in the SNVS domain */
        ignition_input: ignition_input {
            label = "Ignition Input";
            gpios = <&gpio13 0 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };   
                
        digital_in_1_hi: digital_in_1_hi {
            label = "DIN1 HI";
            gpios = <&gpio13 3 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };   
        
        digital_in_1_low: digital_in_1_low {
            label = "DIN1 LO";
            gpios = <&gpio13 4 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };     
        
        digital_in_2_hi: digital_in_2_hi {
            label = "DIN2 HI";
            gpios = <&gpio13 5 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };   
        
        digital_in_2_low: digital_in_2_low {
            label = "DIN2 LO";
            gpios = <&gpio13 6 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };   

        digital_in_3_hi: digital_in_3_hi {
            label = "DIN3 HI";
            gpios = <&gpio13 7 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };   
        
        digital_in_3_low: digital_in_3_low {
            label = "DIN3 LO";
            gpios = <&gpio13 8 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };   

        digital_in_4_hi: digital_in_4_hi {
            label = "DIN4 HI";
            gpios = <&gpio13 9 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };   
        
        digital_in_4_low: digital_in_4_low {
            label = "DIN4 LO";
            gpios = <&gpio13 10 GPIO_ACTIVE_LOW>;
            status = "okay";     
        };   

    };

};


/******************************************************************************/
/* ENABLE FLEXPWM1 PWM1/PWM2 */
/******************************************************************************/
/* Add new subnode to pinctrl, pin A - GPIO_AD_02, pin B - GPIO_AD_03 */
&pinctrl {
    pinmux_flexpwm1_pwm1: pinmux_flexpwm1_pwm1 {
        group0 {
            pinmux = <&iomuxc_gpio_ad_02_flexpwm1_pwm1_a>,
                     <&iomuxc_gpio_ad_03_flexpwm1_pwm1_b>;
            drive-strength = "high";
            bias-pull-down;
            slew-rate = "fast";
        };
        
    };

    pinmux_flexpwm1_pwm2: pinmux_flexpwm1_pwm2 {
        group0 {                     
            pinmux = <&iomuxc_gpio_ad_04_flexpwm1_pwm2_a>,
                     <&iomuxc_gpio_ad_05_flexpwm1_pwm2_b>;
            drive-strength = "high";
            bias-pull-down;
            slew-rate = "fast";
        };
    };    
};

/* Enable PWM1-1 and PWM1-2 using the newly created pinmux  */
&flexpwm1_pwm1 {
    status = "okay";
    pinctrl-0 = <&pinmux_flexpwm1_pwm1>;
    pinctrl-names = "default";
};

&flexpwm1_pwm2 {
    status = "okay";
    pinctrl-0 = <&pinmux_flexpwm1_pwm2>;
    pinctrl-names = "default";
};

/******************************************************************************/
/* DISABLE CAN3 - NOT USED */
/* Note - on the EVK board, there's a CAN transceiver soldered to LPUART's RX
and TX pins, which means it cannot be used. */
/******************************************************************************/
&flexcan3 {
    status = "disabled";
};

/******************************************************************************/
/* DEBUG UART IS LPUART12 - CAN'T BE USED WITH EVK */
/******************************************************************************/
&lpuart12 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_lpuart12>;
	pinctrl-names = "default";     
};

/* Add subnode pinmux for lpuart12 */
&pinctrl {
    pinmux_lpuart12: pinmux_lpuart12 {
		group0 {
			pinmux = <&iomuxc_lpsr_gpio_lpsr_01_lpuart12_rx>,
				<&iomuxc_lpsr_gpio_lpsr_00_lpuart12_tx>;
			drive-strength = "high";
			slew-rate = "fast";
		};
	};
};

&lpuart1 {
    status = "disabled";
};

/******************************************************************************/
/* RS485 on LPUART12 */
/******************************************************************************/
&lpuart10 {
    status = "okay";
    current-speed = <9600>;
	pinctrl-0 = <&pinmux_lpuart10>;
	pinctrl-names = "default";      

    modbus0: modbus0 {
        compatible = "zephyr,modbus-serial";
        status = "okay";
        de-gpios = <&gpio10 2 GPIO_ACTIVE_HIGH>;	/* NOT TESTED */
    };       
};

/* Add subnode pinmux for lpuart12 */
&pinctrl {
    pinmux_lpuart10: pinmux_lpuart10 {
		group0 {
			pinmux = <&iomuxc_gpio_ad_16_lpuart10_rx>,
				<&iomuxc_gpio_ad_15_lpuart10_tx>;
			drive-strength = "high";
			slew-rate = "fast";
		};
	};
};


/******************************************************************************/
/* CANBUS */
/******************************************************************************/
&pinctrl {
    pinmux_can2: pinmux_can2 {
		group0 {
			pinmux = <&iomuxc_gpio_ad_01_can2_rx>,
				<&iomuxc_gpio_ad_00_can2_tx>;
			drive-strength = "high";
			slew-rate = "fast";
		};
	};

    pinmux_can1: pinmux_can1 {
		group0 {
			pinmux = <&iomuxc_gpio_ad_07_can1_rx>,
				<&iomuxc_gpio_ad_06_can1_tx>;
			drive-strength = "high";
			slew-rate = "fast";
		};
	};    
};

/* CANFD 
Standby pin low - normal operation, high: standby. It has external pull-up
*/
&flexcan1 {
    status = "okay";
	pinctrl-0 = <&pinmux_can1>;
	pinctrl-names = "default";    
    can-transceiver {
        compatible = "can-transceiver-gpio";
        max-bitrate = < 1000000 >;
        standby-gpios = <&gpio6 7 GPIO_ACTIVE_LOW>; /* Standby pin controlled by driver */
        #phy-cells = <0>;
    };          
};

/* NMEA2000 */
&flexcan2 {
    status = "okay";
	pinctrl-0 = <&pinmux_can2>;
	pinctrl-names = "default";    
    can-transceiver {
        max-bitrate = < 250000 >;
    };          
};

/******************************************************************************/
/* I2C */
/******************************************************************************/
&lpi2c2 {
    status = "okay";
    pinctrl-0 = <&pinmux_lpi2c2>;
    pinctrl-names = "default";

    /* Display EEPROM. Not sure about the chip; not tested */
    display_eeprom: eeprom@50 {
        compatible = "atmel,at24";
        status = "okay";
        reg = <0x50>;
        size = <1024>;
        pagesize = <32>;
        address-width = <8>;
        timeout = <5>;
    };

    /* TCA6408 I2C GPIO Expander on button board. It 'may' work with tca9538 driver,
    needs testing */
    gpio_tca: tca6408@20 {
        compatible = "ti,tca9538";
        status = "okay";
        reg = <0x20>;
        ngpios = <0x8>;
        #gpio-cells = <0x2>;
        gpio-controller;
        nint-gpios = <&gpio2 9 GPIO_ACTIVE_LOW>; 
    };

    /* LED driver on button board */
    lp5018: lp5018@28 {
        compatible = "ti,lp5018";
        status = "okay";
        reg = <0x28>;  
        enable-gpios = <&gpio_tca 7 GPIO_ACTIVE_HIGH>;      

		btn_led_0 {
			label = "Button 0 LED";
			index = <0>;
			color-mapping =
				<LED_COLOR_ID_RED>,
				<LED_COLOR_ID_GREEN>,
				<LED_COLOR_ID_BLUE>;
		};
		btn_led_1 {
			label = "Button 1 LED";
			index = <1>;
			color-mapping =
				<LED_COLOR_ID_RED>,
				<LED_COLOR_ID_GREEN>,
				<LED_COLOR_ID_BLUE>;
		};
		btn_led_2 {
			label = "Button 2 LED";
			index = <2>;
			color-mapping =
				<LED_COLOR_ID_RED>,
				<LED_COLOR_ID_GREEN>,
				<LED_COLOR_ID_BLUE>;
		};
		btn_led_3 {
			label = "Button 3 LED";
			index = <3>;
			color-mapping =
				<LED_COLOR_ID_RED>,
				<LED_COLOR_ID_GREEN>,
				<LED_COLOR_ID_BLUE>;
		};
		btn_led_4 {
			label = "Button 4 LED";
			index = <4>;
			color-mapping =
				<LED_COLOR_ID_RED>,
				<LED_COLOR_ID_GREEN>,
				<LED_COLOR_ID_BLUE>;
		};
    };
};

&lpi2c5 {
    status = "disabled";
};

&lpi2c3 {
    status = "disabled";
};

&pinctrl {
    pinmux_lpi2c2: pinmux_lpi2c2 {
        group0 {
            pinmux = <&iomuxc_gpio_emc_b2_00_lpi2c2_scl>,
                     <&iomuxc_gpio_emc_b2_01_lpi2c2_sda>;
            drive-strength = "normal";
            drive-open-drain;
            slew-rate = "fast";
            input-enable;
        };
    };
};

&lpi2c1 {
    status = "disabled";
};

/******************************************************************************/
/* NAFE ON LPSPI3 */
/******************************************************************************/

&pinctrl {
	pinmux_lpspi3: pinmux_lpspi3 {
		group0 {
			pinmux = <&iomuxc_gpio_emc_b2_05_lpspi3_pcs0>,
				<&iomuxc_gpio_emc_b2_04_lpspi3_sck>,
				<&iomuxc_gpio_emc_b2_07_lpspi3_sdi>,
				<&iomuxc_gpio_emc_b2_06_lpspi3_sdo>;
			drive-strength = "high";
			slew-rate = "fast";
		};
	};
};

&lpspi3 {
    status = "okay";
    pinctrl-0 = <&pinmux_lpspi3>;
    pinctrl-names = "default";

    /* NAFE should not be initialized by Zephyr, as it is manually powered
    by the application */
    nafe13388: nafe13388@0 {
        status = "okay";
        zephyr,deferred-init;

        compatible = "nxp,nafe13388";
        reset-gpios = <&gpio9 17 GPIO_ACTIVE_HIGH>;
        int-gpios = <&gpio12 9 GPIO_ACTIVE_HIGH>;
        drdy-gpios = <&gpio12 8 GPIO_ACTIVE_HIGH>;
        spi-addr = <0>;

        // SPI specific properties
        reg = <0>;    // The chip select
        spi-max-frequency = <1000000>; 
    };
};

&lpspi1 {
    status = "disabled";
};


/******************************************************************************/
/* OCTAL FLASH NODE ON FLEXSPI - ISSI IS25LX064-JHLE 64 Mbit / 8 MByte */
/******************************************************************************/
&flexspi {
    /* Get rid of quad flash node on flexspi */
    /delete-node/ is25wp128@0;

    /* Add octal flash node to flexspi. Node copied from  EVK's config; driver in drivers/ folder is a verbatim
    copy of mx25um51345g driver */
    /* If things fail, search for 'is25lx064' in dts.cmake - check assigned properties */
    is25lx064: is25lx064@0 {
        compatible = "nxp,imx-flexspi-is25lx064";
        size = <DT_SIZE_M(8 * 8)>;
        reg = <0>;
        spi-max-frequency = <130000000>;
        status = "okay";
        jedec-id = [ 9d 5a 17 ];
        erase-block-size = <4096>;
        write-block-size = <2>; /* FLASH_MCUX_FLEXSPI_IS25LX064_OPI_DTR set */

        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            boot_partition: partition@0 {
                label = "mcuboot";
                reg = <0x00000000 DT_SIZE_K(128)>;
            };
            /* The MCUBoot swap-move algorithm uses the last 3 sectors
             * of the primary slot0 for swap status and move.
             */
            slot0_partition: partition@20000 {
                label = "image-0";
                reg = <0x00020000 (DT_SIZE_M(3) + DT_SIZE_K(3 * 4))>; 
            };
            slot1_partition: partition@323000 {
                label = "image-1";
                reg = <0x00323000 DT_SIZE_M(3)>;
            };
            storage_partition: partition@623000 {
                label = "storage";
                reg = <0x00623000 (DT_SIZE_M(2) - DT_SIZE_K(140))>;
            };
        };
    };    
};

/******************************************************************************/
/* SDRAM - 32 MB */
/******************************************************************************/
&sdram0 {
    status = "okay";
    device_type = "memory";
    reg = <0x80000000 DT_SIZE_M(32)>;  
};

/******************************************************************************/
/* ARM PLL - PROCESSOR ***CVM5A RUNS ON 500 MHz MAX */
/* If you change ARM PLL to a value different than 300 MHz, remember to
update SYS_CLOCK_HW_CYCLES_PER_SEC */
/******************************************************************************/
&arm_pll {
	clock-mult = <82>;
	clock-div = <4>;
    // ARM PLL clock = (24 MHz * clock-mult) / clock-div
    // To set clock at 492 MHz, set clock-mult to 82 and clock-div to 4
    // To set clock at 300 MHz, set clock-mult to 100 and clock-div to 8
};

/******************************************************************************/
/* ELCFIF */
/******************************************************************************/
&lcdif {
	status = "okay";
	width = <480>;
	height = <272>;
    pinctrl-0 = < &pinmux_lcdif >;
    pinctrl-names = "default";

	display-timings {
		compatible = "zephyr,panel-timing";

		hsync-len = <41>;
		hfront-porch = <2>;
		hback-porch = <2>;

		vsync-len = <10>;
		vfront-porch = <2>;
		vback-porch = <2>;

		de-active= <1>;

		pixelclk-active = <0>;
		hsync-active = <1>;
		vsync-active = <1>;

        clock-frequency = <12000000>;
	};

    pixel-format = <PANEL_PIXEL_FORMAT_ARGB_8888>;    
	data-bus-width = "24-bit";
    backlight-gpios = < &gpio4 0x3 0x0 >;
};

&pinmux_lcdif {
    group0 {
        pinmux = 
            <&iomuxc_gpio_disp_b1_00_video_mux_lcdif_clk>,
            <&iomuxc_gpio_disp_b1_01_video_mux_lcdif_enable>,
            <&iomuxc_gpio_disp_b1_02_video_mux_lcdif_hsync>,
            <&iomuxc_gpio_disp_b1_03_video_mux_lcdif_vsync>,
            <&iomuxc_gpio_disp_b1_04_video_mux_lcdif_data00>,
            <&iomuxc_gpio_disp_b1_05_video_mux_lcdif_data01>,
            <&iomuxc_gpio_disp_b1_06_video_mux_lcdif_data02>,
            <&iomuxc_gpio_disp_b1_07_video_mux_lcdif_data03>,
            <&iomuxc_gpio_disp_b1_08_video_mux_lcdif_data04>,
            <&iomuxc_gpio_disp_b1_09_video_mux_lcdif_data05>,
            <&iomuxc_gpio_disp_b1_10_video_mux_lcdif_data06>,
            <&iomuxc_gpio_disp_b1_11_video_mux_lcdif_data07>,
            <&iomuxc_gpio_disp_b2_00_video_mux_lcdif_data08>,
            <&iomuxc_gpio_disp_b2_01_video_mux_lcdif_data09>,
            <&iomuxc_gpio_disp_b2_02_video_mux_lcdif_data10>,
            <&iomuxc_gpio_disp_b2_03_video_mux_lcdif_data11>,
            <&iomuxc_gpio_disp_b2_04_video_mux_lcdif_data12>,
            <&iomuxc_gpio_disp_b2_05_video_mux_lcdif_data13>,
            <&iomuxc_gpio_disp_b2_06_video_mux_lcdif_data14>,
            <&iomuxc_gpio_disp_b2_07_video_mux_lcdif_data15>,
            <&iomuxc_gpio_disp_b2_08_video_mux_lcdif_data16>,
            <&iomuxc_gpio_disp_b2_09_video_mux_lcdif_data17>,
            <&iomuxc_gpio_disp_b2_10_video_mux_lcdif_data18>,
            <&iomuxc_gpio_disp_b2_11_video_mux_lcdif_data19>,
            <&iomuxc_gpio_disp_b2_12_video_mux_lcdif_data20>,
            <&iomuxc_gpio_disp_b2_13_video_mux_lcdif_data21>,
            <&iomuxc_gpio_disp_b2_14_video_mux_lcdif_data22>,
            <&iomuxc_gpio_disp_b2_15_video_mux_lcdif_data23>;
			bias-pull-down;
			slew-rate = "slow";
        };
        /delete-node/ group1;
};

&pxp {
    status = "okay";
};

/******************************************************************************/
/* ETHERNET */
/******************************************************************************/

&pinmux_enet {
    group0 {
        pinmux = <&iomuxc_gpio_ad_13_gpio9_io12>,
            <&iomuxc_gpio_ad_24_enet_rx_en>,		
            <&iomuxc_gpio_ad_25_enet_rx_er>;		
        drive-strength = "high";
        bias-pull-down;
        slew-rate = "fast";
    };
    group1 {
        pinmux = <&iomuxc_gpio_ad_26_enet_rdata00>,	
            <&iomuxc_gpio_ad_27_enet_rdata01>;		
        drive-strength = "high";
        bias-pull-down;
        slew-rate = "fast";
        input-enable;
    };
    group2 {
        pinmux = <&iomuxc_lpsr_gpio_lpsr_04_gpio12_io04>;
        drive-strength = "high";
        bias-pull-up;
        slew-rate = "fast";
    };
    group3 {
        pinmux = <&iomuxc_gpio_ad_30_enet_tdata00>,	
            <&iomuxc_gpio_ad_31_enet_tdata01>,		
            <&iomuxc_gpio_ad_28_enet_tx_en>;		
        drive-strength = "high";
        slew-rate = "fast";
    };
    group4 {
        pinmux = <&iomuxc_gpio_ad_29_enet_ref_clk>;	
        drive-strength = "high";
        slew-rate = "slow";
        input-enable;
    };
};

&enet_mac {
    status = "okay";
    /delete-property/ zephyr,random-mac-address;
    local-mac-address = [02 04 9F B0 0B 55];  // Fixed MAC Address. Note that unique MAC address results in last three bytes being zeroes
    // Attempting to read hardware ID with hwinfo_get_device_eui64() returns zeroes
    // Fused mac results in DA:00:00:00:DA:00
};

&enet_mdio {
    status = "okay";
};

&enet_ptp_clock {
    status = "okay";
};

&phy {
    int-gpios = < &gpio9 17 0x0 >;
    reset-gpios = <&gpio9 18 0x0 >;
    microchip,interface-type = "rmii-25MHz";
};
